svclist
stamp-h1
sblim-cmpi-service.spec
libtool
configure
config.status
config.log
config.guess
config.sub
config.h.in
config.h
autom4te.cache
aclocal.m4
install-sh
ltmain.sh
missing
INSTALL
depcomp
Makefile.in
Makefile
.libs
.deps
*.o
*.lo
*.la
